<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :player_email %>
    <%= form.text_field :player_email, id: :score_player_email %>
  </div>

  <div class="input-field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :score_score %>
  </div>

  <div class="input-field">
    <%= form.label :game_id %>
    <%= form.collection_select :game_id, Game.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
